* {
    margin: 0
}

body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-width: 100vw;
    min-height: 100vh;
    background-color: goldenrod;
}

#new-grid {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#new-grid button {
    font-size: 24px;
    color: white;
    border: 2px solid white;
    border-radius: 16px;
    padding: 10px;
    background-color: darkolivegreen;
}

#container {
    display: flex;
    flex: 5;
    padding: 0 200px 50px 200px;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
    box-sizing: border-box;
    background-color: black;
}

.square {
    flex: 1;
    margin: 1px;
}